@import "../../../../utils/theme.scss";

.BasicCategoryContainer__title__content {
  .BasicCategoryContainer__title {
    padding: 16px 0 15px 0;
    font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--title-color);
    text-decoration: none;
    font-variant: normal;
    font-size: 2.5em;
    border-bottom: 1px solid var(--border-bottom-color);
    margin-bottom: 30px;
  }
  .BasicCategoryContainer__content__subTitle {
    color: var(--title-color);
    font-weight: 300;
    font-size: 18px;
    vertical-align: 0;
    border-bottom: 1px solid var(--border-bottom-color);
    padding-bottom: 30px;
  }
  .BasicCategoryContainer__title__banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .BasicCategoryContainer__title__banner_img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
  }
  @media only screen and (max-width: 550px) {
    .BasicCategoryContainer__title {
      font-size: 2em;
      text-align: left;
    }
  }
}
.BasicCategoryContainer__content {
  padding: 20px 0;
  .BasicCategoryContainer__content__subTitle {
    width: 100%;
    line-height: 28px;
    padding: 20px 0;
    font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
    font-weight: 500;
    color: var(--subtitle-bg);
    font-size: 28px;
  }
  .BasicCategoryContainer__content__text {
    font-weight: 300;
    color: var(--title-color);
    font-size: 18px;
    white-space: pre-wrap;
    margin-top: 15px;
  }
  @media only screen and (max-width: 550px) {
    .BasicCategoryContainer__content__subTitle {
      font-size: 23px;
      padding: 15px 0px;
    }
    .BasicCategoryContainer__content__text {
      font-size: 16px;
    }
  }
  .discover__news_display_table {
    width: 100%;
    margin: 15px 0;
    .discover__news_display_table_row {
      border: 1px solid var(--main-between-line-color);
      .discover__news_display_table_col {
        font-size: 18px;
        font-weight: 300;
        color: var(--title-color);
        padding: 8px 14px;
        min-width: 200px;
        &-first {
          min-width: 105px;
          border-right: 1px solid var(--main-between-line-color);
        }
        &-second {
          min-width: 155px;
        }
        &-third {
          width: 100%;
          max-height: 65px;
        }
        @media only screen and (max-width: 550px) {
          font-size: 16px;
          padding: 8px 8px;
          &-first {
            min-width: 85px;
          }
          &-second {
            min-width: 96px;
          }
          &-third {
            max-height: 51px;
          }
        }
      }
    }
  }
}
.line {
  width: 100%;
  hr {
    border: 0;
    border-top: rgba(0, 0, 0, 0.18) 1px solid;
    margin: 2em 0 !important;
  }
}

.BasicCategoryContainer__content__route_container {
  width: 100%;
  .line {
    width: 100%;
    hr {
      border: 0;
      border-top: rgba(0, 0, 0, 0.18) 1px solid;
      margin: 2em 0 !important;
    }
    &:last-child {
      display: none;
    }
  }
}
.BasicCategoryContainer__content__route {
  display: flex;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  .BasicCategoryContainer__content__route_left {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 128px;
    margin-right: 10px;
    .BasicCategoryContainer__content__route_left_logo {
      object-fit: cover;
    }
  }
  .BasicCategoryContainer__content__route_right {
    .BasicCategoryContainer__content__route_right_subTitle {
      width: 100%;
      line-height: 28px;
      font-family: "Noto Sans TC", "Noto Sans JP", "微軟正黑體", sans-serif;
      font-weight: 500;
      color: var(--subtitle-bg);
      font-size: 23px;
    }
    .BasicCategoryContainer__content__route_right_text {
      font-weight: 300;
      color: var(--title-color);
      font-size: 18px;
      white-space: pre-wrap;
      margin-top: 15px;
    }
    @media only screen and (max-width: 550px) {
      margin-top: 20px;
      .BasicCategoryContainer__content__route_right_subTitle {
        font-size: 23px;
      }
      .BasicCategoryContainer__content__route_right_text {
        font-size: 16px;
      }
    }
  }
  @media only screen and (max-width: 550px) {
    display: block;
  }
}
